.container {
    
    @media screen and(max-width : 996px) {
        padding: 0 10px;
    }

    @media screen and(min-width :997px) {
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    
}


