.container__question {
    background-image: radial-gradient(circle at 37.58% 41.31%, #928f86 0, #4d515c 50%, #051b35 100%);

    @media screen and(max-width :420px) {
        padding-top: 15px;
        margin: 0 auto;
        padding-bottom: 50%;
    }

    @media screen and(min-width :421px){
        width: 100%;
        padding-bottom: 30%;
    }

    @media screen and(min-width :800px){
        width: 100%;
        padding: 0;
    }
    
    
}



