.form {
  background-color: #343434;
  height: 100vh;
}
.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and(min-width:420px) {
    max-width: 420px;
  }
}
.form_title {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 293px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.form_text {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  line-height: 1.17;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 346px;
}
.form_modal {
  margin: 0 auto;
}
.form_iput {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #ffff;

  width: 100%;
  height: 45px;
  background: #f7f7f7;
  border: none;
  padding: 0 15px;
  outline: none;
  font-size: 16px;
  font-weight: normal;
  background: none;
  border-bottom: 2px solid rgba(237, 185, 85, 1);
}
.form_button {
  padding: 20px 23px;
  background: linear-gradient(92.27deg, #f7cea9 0%, #edb955 100%);
  box-shadow: 0px 0px 41.6949px rgba(239, 189, 98, 0.35);
  border-radius: 6.94915px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  text-align: center;
  letter-spacing: 0.05em;
  display: block;
  color: #5e3c2f;
  border: none;
}
