.logo {
  text-align: center;
  padding-top: 10px;
}
.logo_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}
.logo_subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 40px;
}
.logo_button {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: white;
  background-color: tomato;
  padding: 25px 55px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  &:hover {
    background-color: red;
  }
}
