.logo {
  background-color: #051724;
  background-image: url(/src/img/ilon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and(min-width:420px) {
    background-image: linear-gradient(350deg, #000000, #000000ad),
      url(/src/img/teslar.jpg);
    background-position: center;
    background-size: cover;
  }
}

.logo_container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: none;
  @media screen and(min-width:420px) {
    max-width: 420px;
    display: flex;
  }
  @media screen and(min-width:819px) {
    max-width: 819px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 130px;
    max-width: 1200px;
    display: block;
  }
}
.logo_tesla {
  margin: 0 auto;
  display: none;
  @media screen and(min-width:420px) {
    display: block;
  }
}
.logo_title2 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  max-width: 323px;
  // margin-top: 155px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.19;
  @media screen and(min-width:819px) {
  }
  @media screen and(min-width:1200px) {
    font-size: 26px;
    max-width: 323px;
    margin-right: 0px;
  }
}
.wrapper-text {
  display: none;
  @media screen and(min-width:420px) {
    display: block;
  }
}
.logo_span2 {
  color: rgba(237, 185, 85, 1);
}
.logo_text2 {
  text-align: center;
  color: #fff;
  margin-top: 55px;
  margin-bottom: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  @media screen and(min-width:420px) {
    display: block;
  }
  @media screen and(min-width:819px) {
  }
  @media screen and(min-width:1200px) {
    font-size: 20px;
    max-width: 360px;
    margin-right: 0px;
    margin-top: 35px;
  }
}
.logo_button2 {
  padding: 20px 60px;
  background: linear-gradient(92.27deg, #c5864e 0%, #460b0b 100%);
  box-shadow: 0 0 41.6949px #9d00007a;
  border-radius: 6.94915px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 137px;
  display: block;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  display: none;
  @media screen and(min-width:420px) {
    display: block;
  }
  @media screen and(min-width:1200px) {
    margin-right: 0px;
    margin-top: 50px;
  }
}
.logo_title {
  @media screen and(max-height:800px) {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    max-width: 240px;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.19;
  }
  @media screen and(min-height:800px) {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 323px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
  }
}
.logo_span {
  color: rgba(237, 185, 85, 1);
}
.logo_text {
  @media screen and(max-height:800px) {
    text-align: center;
    color: #fff;
    max-width: 225px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  @media screen and(min-height:800px) {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 300px;
  }
}
.logo_container2 {
  // padding-top: 560px;
  // padding-bottom: 30px;
  height: 100%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 20px;
  @media screen and(min-width:420px) {
    display: none;
  }
}
.logo_button {
  @media screen and(max-height:800px) {
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: #edb955;
    border: none;
    border-radius: 7px;
    margin: 0 auto 27px;
    padding: 17px 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    display: block;
    box-shadow: 0 0 41.6949px #efbd6259;
  }
  @media screen and(min-height:800px) {
    padding: 19px 60px;
    display: block;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: rgba(237, 185, 85, 1);
    box-shadow: 0px 0px 41.6949px rgba(239, 189, 98, 0.35);
    border-radius: 7px;
    // display: flex;
    //   flex-direction: column;
    //   justify-content: flex-end;
    //   padding-bottom: 30px;
    margin-bottom: 27px;
    border: none;
  }
}
.polotics_wrapper {
  margin: 0 auto;
}
.logo_politics-link {
  color: #ffffff;
  font-size: 8px;
}
.logo_politics-link:first-child {
  margin-right: 10px;
}
