.question-section{
    @media screen and(max-width : 996px) {
        padding: 10px 10px;

    }

    @media screen and(min-width :997px) {
        max-width: 100%;
        padding: 70px 103px 70px 103px;
    }
}

.progressbar {
        height: 30px;
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 30px;
        position: relative;
        background: #D8D5D5;
        border-radius: 5px;
        padding: 3px;
        box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.progressbar > span {
    display: block;
    height: 100%;
    background:linear-gradient(91.05deg, #18A5D1 17.65%, #A583EE 92.11%);;

    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
  }
  



.question__flex__wrapper{
    @media screen and(max-width : 996px) {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    @media screen and(min-width : 997px) {
        display: flex;
    }
}

.question__item__wrapper{
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    padding: 15px 10px 15px 20px;
    border-radius: 8px;
    background-color: white;
    

    @media screen and(max-width : 996px) {
        max-width: 330px;
        margin: 0 auto;
        margin-bottom: 10px;
        gap: 5px;
    }
}

.question__img{
    @media screen and(max-width : 996px) {
        margin: 0 auto;
    }
}

.main-question{
    @media screen and(max-width : 996px) {
        margin: 21px 0 30px 0;
    }
}

.back__button{

    text-align: center;
    color: #fff;
    background-color: transparent;

    border: 1px solid #ff183b;
    color: #ff183b;

    @media screen and(max-width:996px) {
        width: 100px;
        height: 30px;
        border-radius: 24px;
        font-size: 16px;
        margin-top: 30px;
        
    }
}
