.question__section{
    color: #FFFFFF;
    @media screen and(min-width :800px){
      background-image: url('/src/img/tesla.jpg');
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  
  }
}

.question__title{
    display: block;
    @media screen and(max-width : 420px) {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    @media screen and(min-width : 421px) {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 25px;
    }
    @media screen and(min-width : 800px) {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 25px;
    }
}

.question__text{
  display:block;
    @media screen and(max-width : 420px) {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    @media screen and(min-width : 421px) {
      display: inline-block;
      padding: 20px 20px;
      font-size: 21px;;
  }

}

.question__button{
    border: 1px solid gold;
    border-radius: 5px;
    background: linear-gradient(92.27deg, #F7CEA9 0%, #EDB955 100%);
    display: flex;
    box-shadow: 10px 10px 20px black;

    @media screen and(max-width : 420px) {
        margin-bottom: 20px;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 20px;
        align-items: center;
    }

    @media screen and(min-width : 421px){
      width: 65%;
      margin: 0 auto;
      align-items: center;
     justify-content: center;
     margin-bottom: 40px;
    }

    @media screen and(min-width : 800px){
      display: block;
      width: 80%;
      margin: 0 auto;
      align-items: center;
     justify-content: center;
     margin-bottom: 40px;
    }

}


.question__golden__accent{
    color:#EDB955;
}



.progress__bar{
    height: 30px;
	position: relative;
	background: #555;
	padding: 3px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    border-radius: 5px;
    @media screen and(min-width : 421px) {
      height: 40px;
      padding: 3px;
    }
    @media screen and(min-width : 800px) {
      height: 40px;
      padding: 3px;
      margin-bottom: 30px;
    }
}

.progress__bar > span {
    display: block;
    height: 100%;
    width: 25%;
    background: linear-gradient(92.27deg, #F7CEA9 0%, #EDB955 100%);
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }


  .questions__count{
    @media screen and(max-width : 420px) {
    text-align: center;
    }

    @media screen and(min-width : 421px) {
      text-align: center;
      }
  }

  .question__img{

    @media screen and(max-width : 420px) {
        -webkit-box-shadow: 10px 3px 297px 68px rgb(0 0 0 / 75%);
        margin-top: 15px;
        }
        @media screen and(min-width : 421px) {
          -webkit-box-shadow: 20px 6px 500px 136px rgb(0 0 0 / 75%);
          }

          @media screen and(min-width : 800px) {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
            }
    
  }

  .question__img__desktop{
    @media screen and(min-width:800px) {

      width: 430px;
      height: 300px;
      -webkit-box-shadow: 20px 6px 500px 1px #000000bf;
      filter: blur(1.1);
    }
  }

  .question__delimeter{
    @media screen and(min-width:800px) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }

  .question__button__block{
    @media screen and(min-width:800px){
      margin-right: auto;
    }
  }


  .questions__count__blocks{

    @media screen and(max-width : 420px) {
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    }
    @media screen and(min-width : 421px) {
      display: flex;
      gap:20px;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      margin-top: 15px;
      }
      
  }

  .question__bottom__handler{
    @media screen and(min-width : 421px){
      font-size : 20px;
    }
  }

  .question__count__item{
    background: linear-gradient(92.27deg, #F7CEA9 0%, #EDB955 100%);
    border-radius: 50%;
    @media screen and(max-width : 420px){
      width: 10px;
      height: 10px;
      
      
    }

    @media screen and(min-width : 421px){
      width: 20px;
      height: 20px;
    }
   
  }

  .back__button{
    color: #ffffff;
    background: linear-gradient(92.27deg, #f7cea9 0%, #edb955 100%);
    box-shadow: 10px 10px 20px black;
    @media screen and(max-width : 420px) {
        margin-left: 40px;
        margin-top: 40px;
        width: 90px;
        height: 30px;
        border-radius: 5px;

        }
        @media screen and(min-width : 421px) {
          margin-left: 10px;
          margin-bottom: 10px;
          width: 100px;
          height: 40px;
          border-radius: 5px;
  
          }

          @media screen and(min-width : 800px) {
            margin-left: 30px;
            margin-bottom: 30px;
            width: 150px;
            height: 60px;
            border-radius: 5px;
            font-size: 21px;
    
            }

  }
  .question__svg{
    @media screen and(max-width : 420px){
      margin-right: 7px;
    }
    @media screen and(min-width : 421px){
      margin-right: 10px;
    }
    @media screen and(min-width : 800px){
      margin-right: 15px;
    }
  }

  

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .question__top__logo{
    margin: 0 auto;
  }




