.question__section{
    color: #FFFFFF;
}

.question__main__group{


}
.question__title{
    display: block;
    @media screen and(max-width : 420px) {
        margin-bottom: 20px;
        text-align: center;
    }
}

.question__text{
    @media screen and(max-width : 420px) {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.question__button{
    display: block;
    border: 1px solid gold;
    border-radius: 5px;
    background: linear-gradient(92.27deg, #F7CEA9 0%, #EDB955 100%);
    display: flex;
    align-items: center;
    @media screen and(max-width : 420px) {
        margin-bottom: 20px;
        width: 75%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

.question__golden__accent{
    color:#EDB955;
}

.progress__bar{
    height: 20px;
	position: relative;
	background: #555;
	padding: 3px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    border-radius: 5px;
    @media screen and(max-width : 420px) {

    }
}

.progress__bar > span {
    display: block;
    height: 100%;
    width: 25%;
    background: linear-gradient(92.27deg, #F7CEA9 0%, #EDB955 100%);
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }
  .questions__count{
    @media screen and(max-width : 420px) {
    text-align: center;
    }
  }

  .question__img{
    width: 100%;
    @media screen and(max-width : 420px) {
        -webkit-box-shadow: 10px 3px 297px 68px rgb(0 0 0 / 75%);
        }
    
  }


  .questions__count__blocks{

    @media screen and(max-width : 420px) {
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    }
  }

  .question__count__item{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: linear-gradient(92.27deg, #F7CEA9 0%, #EDB955 100%);
  }

  .back__button{

    @media screen and(max-width : 420px) {
        margin-left: 10px;
        margin-bottom: 10px;
        width: 70px;
        height: 30px;
        border-radius: 5px;

        }
    color: #ffffff;
    background: linear-gradient(92.27deg, #f7cea9 0%, #edb955 100%);
  }



