@charset "UTF-8";
.logo {
  text-align: center;
}


.logo_title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}

.logo_subtitle {
  font-size: calc(16px + 27.2 * (100vw - 320px) / 1280);
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 40px;
}

.logo_button {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: white;
  background-color: tomato;
  padding: 10px 24px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
}
.logo_button:hover {
  background-color: red;
=======
@media screen and (max-width: 900px) {
  .question-section {
    padding: 10px 10px;
  }
}
@media screen and (min-width: 901px) {
  .question-section {
    max-width: 100%;
    padding: 70px 103px 70px 103px;
  }
}

.progressbar {
  height: 30px;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  background: #D8D5D5;
  border-radius: 5px;
  padding: 0;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.progressbar > span {
  display: block;
  height: 100%;
  background: linear-gradient(91.05deg, #18A5D1 17.65%, #A583EE 92.11%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .question__flex__wrapper {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 901px) {
  .question__flex__wrapper {
    display: flex;
  }
}

.question__item__wrapper {
  border: 1px solid #BBBBBB;
  box-sizing: border-box;
  padding: 15px 10px 15px 20px;
  border-radius: 8px;
  background-color: white;
}
@media screen and (max-width: 900px) {
  .question__item__wrapper {
    max-width: 330px;
    margin: 0 auto;
    margin-bottom: 10px;
    gap: 5px;
  }
}

@media screen and (max-width: 900px) {
  .question__img {
    margin: 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .main-question {
    margin: 21px 0 30px 0;
  }
}

.back__button {
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #ff183b;
  color: #ff183b;
}
@media screen and (max-width: 900px) {
  .back__button {
    width: 100px;
    height: 30px;
    border-radius: 24px;
    font-size: 16px;
    margin-top: 30px;
  }
}

.logo {
  background-image: url(../img/mask-img.png);
}

html {
  box-sizing: border-box;
}

/* НАСЛЕДОВАНИЕ */
*,
*::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  display: none;
}

ul {
  list-style: none;
  padding: 0px;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0 10px;
  }
}
@media screen and (min-width: 901px) {
  .container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=index.css.map */