@charset "UTF-8";
.logo {
  background-color: #343434;
  background-image: linear-gradient(350deg, #000000, rgba(0, 0, 0, 0.6784313725)), url(/src/img/teslar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo_container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 420px) {
  .logo_container {
    max-width: 420px;
  }
}
@media screen and (min-width: 819px) {
  .logo_container {
    max-width: 819px;
  }
}
@media screen and (min-width: 1200px) {
  .logo_container {
    max-width: 1200px;
    display: block;
  }
}

.logo_tesla {
  margin: 0 auto;
}

.logo_title2 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  max-width: 323px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.19;
}
@media screen and (min-width: 819px) {
  .logo_title2 {
    font-size: 36px;
    max-width: 427px;
  }
}
@media screen and (min-width: 1200px) {
  .logo_title2 {
    font-size: 26px;
    max-width: 323px;
    margin-right: 0px;
  }
}

.wrapper-text {
  margin-top: 70px;
}

.logo_span2 {
  color: rgb(237, 185, 85);
}

.logo_text2 {
  text-align: center;
  color: #fff;
  margin-top: 55px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 819px) {
  .logo_text2 {
    font-size: 30px;
    max-width: 395px;
  }
}
@media screen and (min-width: 1200px) {
  .logo_text2 {
    font-size: 20px;
    max-width: 360px;
    margin-right: 0px;
    margin-top: 35px;
  }
}

.logo_button2 {
  padding: 20px 60px;
  background: linear-gradient(92.27deg, #c5864e 0%, #460b0b 100%);
  box-shadow: 0 0 41.6949px rgba(157, 0, 0, 0.4784313725);
  border-radius: 6.94915px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
@media screen and (min-width: 1200px) {
  .logo_button2 {
    margin-right: 0px;
    margin-top: 50px;
  }
}

.question__section {
  color: #FFFFFF;
}
@media screen and (min-width: 800px) {
  .question__section {
    background-image: url("/src/img/tesla.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
  }
}

.question__title {
  display: block;
}
@media screen and (max-width: 420px) {
  .question__title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media screen and (min-width: 421px) {
  .question__title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
  }
}
@media screen and (min-width: 800px) {
  .question__title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
  }
}

.question__text {
  display: block;
}
@media screen and (max-width: 420px) {
  .question__text {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 421px) {
  .question__text {
    display: inline-block;
    padding: 20px 20px;
    font-size: 21px;
  }
}

.question__button {
  border: 1px solid gold;
  border-radius: 5px;
  background: linear-gradient(92.27deg, #F7CEA9 0%, #EDB955 100%);
  display: flex;
  box-shadow: 10px 10px 20px black;
}
@media screen and (max-width: 420px) {
  .question__button {
    margin-bottom: 20px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
  }
}
@media screen and (min-width: 421px) {
  .question__button {
    width: 65%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 800px) {
  .question__button {
    display: block;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
}

.question__golden__accent {
  color: #EDB955;
}

.progress__bar {
  height: 30px;
  position: relative;
  background: #555;
  padding: 3px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
@media screen and (min-width: 421px) {
  .progress__bar {
    height: 40px;
    padding: 3px;
  }
}
@media screen and (min-width: 800px) {
  .progress__bar {
    height: 40px;
    padding: 3px;
    margin-bottom: 30px;
  }
}

.progress__bar > span {
  display: block;
  height: 100%;
  width: 25%;
  background: linear-gradient(92.27deg, #F7CEA9 0%, #EDB955 100%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

@media screen and (max-width: 420px) {
  .questions__count {
    text-align: center;
  }
}
@media screen and (min-width: 421px) {
  .questions__count {
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .question__img {
    -webkit-box-shadow: 10px 3px 297px 68px rgba(0, 0, 0, 0.75);
    margin-top: 15px;
  }
}
@media screen and (min-width: 421px) {
  .question__img {
    -webkit-box-shadow: 20px 6px 500px 136px rgba(0, 0, 0, 0.75);
  }
}
@media screen and (min-width: 800px) {
  .question__img {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (min-width: 800px) {
  .question__img__desktop {
    width: 430px;
    height: 300px;
    -webkit-box-shadow: 20px 6px 500px 1px rgba(0, 0, 0, 0.7490196078);
    filter: blur(1.1);
  }
}

@media screen and (min-width: 800px) {
  .question__delimeter {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .question__button__block {
    margin-right: auto;
  }
}

@media screen and (max-width: 420px) {
  .questions__count__blocks {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 421px) {
  .questions__count__blocks {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 421px) {
  .question__bottom__handler {
    font-size: 20px;
  }
}

.question__count__item {
  background: linear-gradient(92.27deg, #F7CEA9 0%, #EDB955 100%);
  border-radius: 50%;
}
@media screen and (max-width: 420px) {
  .question__count__item {
    width: 10px;
    height: 10px;
  }
}
@media screen and (min-width: 421px) {
  .question__count__item {
    width: 20px;
    height: 20px;
  }
}

.back__button {
  color: #ffffff;
  background: linear-gradient(92.27deg, #f7cea9 0%, #edb955 100%);
  box-shadow: 10px 10px 20px black;
}
@media screen and (max-width: 420px) {
  .back__button {
    margin-left: 40px;
    margin-top: 40px;
    width: 90px;
    height: 30px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 421px) {
  .back__button {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 800px) {
  .back__button {
    margin-left: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    font-size: 21px;
  }
}

@media screen and (max-width: 420px) {
  .question__svg {
    margin-right: 7px;
  }
}
@media screen and (min-width: 421px) {
  .question__svg {
    margin-right: 10px;
  }
}
@media screen and (min-width: 800px) {
  .question__svg {
    margin-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.question__top__logo {
  margin: 0 auto;
}

.form {
  background-color: #343434;
  background-image: linear-gradient(350deg, #000000, rgba(0, 0, 0, 0.6784313725)), url(/src/img/teslar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 420px) {
  .container {
    max-width: 420px;
  }
}
@media screen and (min-width: 819px) {
  .container {
    max-width: 819px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.form_title {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 293px;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media screen and (min-width: 819px) {
  .form_title {
    max-width: 373px;
    font-size: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .form_title {
    font-size: 26px;
    max-width: 293px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.form_text {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  line-height: 1.17;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 346px;
}
@media screen and (min-width: 819px) {
  .form_text {
    max-width: 400px;
    font-size: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .form_text {
    font-size: 17px;
    max-width: 346px;
  }
}

.form_modal {
  margin: 0 auto;
}
@media screen and (min-width: 819px) {
  .form_modal {
    max-width: 420px;
  }
}

.form_iput {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: white;
  width: 100%;
  height: 45px;
  background: #f7f7f7;
  border: none;
  padding: 0 15px;
  outline: none;
  font-size: 16px;
  font-weight: normal;
  background: none;
  border-bottom: 2px solid rgb(237, 185, 85);
}
@media screen and (min-width: 819px) {
  .form_iput {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .form_iput {
    font-size: 16px;
  }
}

.form_button {
  padding: 20px 23px;
  background: linear-gradient(92.27deg, #f7cea9 0%, #edb955 100%);
  box-shadow: 0px 0px 41.6949px rgba(239, 189, 98, 0.35);
  border-radius: 6.94915px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  text-align: center;
  letter-spacing: 0.05em;
  display: block;
  color: #5e3c2f;
  border: none;
}

html {
  box-sizing: border-box;
}

/* НАСЛЕДОВАНИЕ */
*,
*::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  display: none;
}

ul {
  list-style: none;
  padding: 0px;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
}

.container__question {
  background-image: radial-gradient(circle at 37.58% 41.31%, #928f86 0, #4d515c 50%, #051b35 100%);
}
@media screen and (max-width: 420px) {
  .container__question {
    padding-top: 15px;
    margin: 0 auto;
    padding-bottom: 50%;
  }
}
@media screen and (min-width: 421px) {
  .container__question {
    width: 100%;
    padding-bottom: 30%;
  }
}
@media screen and (min-width: 800px) {
  .container__question {
    width: 100%;
    padding: 0;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.tap-anime {
  transform: scale(1.2);
}/*# sourceMappingURL=index.css.map */