<section class="form visually-hidden" id="section-form">
    <div class="container">
        <div>
            <h2 class="form_title">Отлично!Последний шаг!</h2>
            <p class="form_text">Оставьте свои контактные данные, и в ближайшее время наш менеджер c Вами свяжется! ✅
            </p>

            <form id="submit_form" class="form_modal">
                <input class="form_iput" type="text" name="user-name" id="form_name" placeholder="Имя" required>
                <input class="form_iput" type="email" name="email" id="form_email" placeholder="E-mail" required>
                <input class="form_iput" type="tel" id="form_phone" name="tel" placeholder="">
                <button type="submit" class="form_button">Оставить заявку</button>

            </form>
            <p class="form_politics">Отправляя данные Вы соглашаетесь с <a class="form_politics-link"
                    href="/src/partials/politics.html" target="_blank">политикой сбора данных</a></p>
        </div>
    </div>
</section>