<section class="form">
    <div class="container">
        <img class="logo_tesla" alt="Логтип Тесла" src="/src/img/tesla.png">
        <h2 class="form_title">Отлично!Последний шаг!</h2>
        <p class="form_text">Оставьте свои контактные данные, и в ближайшее время наш менеджер c Вами свяжется! ✅</p>
        <div>
            <form class="form_modal">
                <input class="form_iput" type="text" name="user-name" placeholder="Имя" required>
                <input class="form_iput" type="text" name="last-name" placeholder="Фамилия" required>
                <input class="form_iput" type="text" name="email" placeholder="E-mail" required>
                <input class="form_iput" type="tel" name="user-tel" placeholder="+7912 345-67-89" value="+7" required>
                <button type="button" class="form_button">Оставить заявку</button>
            </form>
        </div>
    </div>
</section>