<section class="logo">
    <div class="conteiner">
        <img class="logo_tesla" alt="Логтип Тесла" src="/src/img/tesla.png">
        <img class="logo_money" src="/src/img/money/money1.png">
        <img class="logo_flag" width="524" height="450" alt="Флаг Евросоюза" src="/src/img/flag.png">
        <img class="logo_color" width="300" height="300" src="/src/img/circle/color.png">
        <img class="logo_circle" width="199" height="199" src="/src/img/circle/circle1.png">
        <img class="logo_circle2" width="294" height="294" src="/src/img/circle/circle2.png">
        <img class="logo_car" width="190" height="220" src="/src/img/teslacar.png">
        <img class="logo_gold-tesla" width="260" height="220" src="/src/img/goldtesla.png">
        <img class="logo_mask" width="300" height="200" src="/src/img/mask.png">
        <img class="logo_money2" src="/src/img/money/money2.png">
    </div>

</section>