<section class="logo" id="section-logo">
    <!-- <div class="logo_container"> -->
    <!-- <img class="logo_tesla" alt="Логтип Тесла" src="/src/img/tesla.png"> -->

    <!-- <div class="wrapper-text">
            <h1 class="logo_title2">Узнайте сколько вы
                зарабатываете на
                <span class="logo_span2">инвестициях</span>
                Только для жителей ЕС
            </h1>
            <p class="logo_text2">Пройдите официальный тест от «Tesla X»,
                чтобы получить доступ к платформе и
                начать зарабатывать. ✅</p>
        </div>
        <button class="logo_button2" type="button">Пройти тест</button>

    </div> -->
    <div class="logo_container2">

        <h1 class="logo_title">Узнайте сколько вы
            зарабатываете на
            <span class="logo_span">инвестициях</span>
            Только для жителей ЕС
        </h1>
        <p class="logo_text">Пройдите официальный тест от «Tesla X»,
            чтобы получить доступ к платформе и
            начать зарабатывать. ✅</p>

        <button class="logo_button" type="button" id="logo_button">Пройти тест</button>
    </div>
    <!-- </div> -->
</section>