
<div class="container">
    <section class="question-section">
        <div class="progressbar">
            <span style="width: 30%"></span>
          </div>
          
            <img src="/src/img/mask-img.png" alt="" width="550px" height="550px" class="question__img">
                <div class="question__flex__wrapper">
                    <div class="question__list__area">
                        <h1 class="main-question">Какая Ваша финансовая цель?</h1>
                        <ul class="question__list">
                            <div class="question__item__wrapper">
                                <li class="question__list__item">
                                    <span class="questions__list__text">Обеспечить себя и семью 👨‍👩‍👧‍👦</span>
                                </li>
                            </div>
                            <div class="question__item__wrapper">
                                <li class="question__list__item">
                                    <span class="questions__list__text">Купить личное жилье </span>
                                </li>
                            </div>
                            <div class="question__item__wrapper">
                                <li class="question__list__item">
                                    <span class="questions__list__text">Стать финансово независимым 💸</span>
                                </li>
                            </div>
                        </ul>
                    </div>
                    
                </div>
                <button type="button" class="back__button">Назад</button>  
              
        </div>
        
    </section>
</div>
